/*
	Powered by SHIRUI GU
	ggshr9.github.io | @ggshr9
*/

/* Wrapper */

	#wrapperhp {
		opacity: 1 !important;
	}

/* Overlayhp */

	#overlayhp {
		opacity: 1 !important;
	}

/* Headerhp */

	#headerhp {
		opacity: 1 !important;
	}

		#headerhp nav li {
			opacity: 1 !important;
		}
/* Banner */

body.is-preload #banner h2 {
    -moz-transform: none;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    opacity: 1;
}

    body.is-preload #banner h2:before, body.is-preload #banner h2:after {
        width: 100%;
    }

body.is-preload #banner .more {
    -moz-transform: none;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    opacity: 1;
}

body.is-preload #banner:after {
    opacity: 0;
}